*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.main{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
}
.box{
    background: rgb(105, 104, 104);
    width: 45vw;
    height: 40vh;
    padding: 20px;
    border-radius: 15px;
}
.text{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text h1{
    color: white;
    font-weight: bold;
}
.input-container{
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
input{
    height: 100%;
    width: 100%;
    font-size: 1rem;
    color: white;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    outline: none;
    background: transparent;
}
.input-box label{
    color: white;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 1px;
}
input::placeholder{
    color: white;
}
@media (max-width: 985px) {
    .box{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .text h1{
        font-size: 3.7rem;
    }
    .input-container{
        width: 100%;
        height: 30%;
        padding: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .input-box{
        height: 30px;
        width: 100%;
        font-size: 2.5rem;
        font-weight: 800;
        color: white;
        margin-top: 15%;
        display: flex;
        flex-direction: column;
    }
    input{
        padding: 40px 20px;
        font-size: 2.5rem;
    }
    .input-box label{
        letter-spacing: 4px;
        padding: 10px 0px;
        font-size: 2.2rem;
    }
}